body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.ddd{
    /* width: 50%;

    margin: auto; */

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*  */
#secondRowContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 9%;
}
#marquee a {
    font-weight: bold;
}
.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}
.marquee {
    top: 6em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}
#marqueeContainer {
    flex-grow: 1;
    margin-right: 14px;
    margin-left: 184px;
    width: 510px;
}

.containerParent {
    position: relative;
}
#nevPsakimHeadline {
    color: #2A3062;
    text-align: right;
    padding-right: 121px;
    margin-top: 10px;
    font-weight: bold;
}

.containerMarquee {
    height: 30em;
    margin: 1em auto;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    background: #17a2b8a6;
    border-radius: 10px;
    /* margin: auto; */

}


.containerMarquee .marquee {
    margin: 0;
    padding: 0 1em;
    line-height: 1.5em;
    /* font: 1em 'Segoe UI', Tahoma, Helvetica, Sans-Serif; */
}

.marqueeLink {
    text-align: right;
    color: #2A3062;
}
.marqueeLinkSecondLine {
    margin-bottom: 10px !important;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}



#secondRowButtons {
    flex-grow: 0;
    width: 30%;
    margin-top: 40px;
    margin-left: 246px;
}

.secondRowIndividualButtons {
    margin: 9px 14px !important;
}

.simple-button {
    background: lightgray;
    padding: 7px 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #2A3062;
}
.option {
background-color: #2A3062;
padding: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}




.secondRowIndividualButtons a {
    background-color: transparent;
}

.option a {
    color: white;
}