<!-- <p>admin works!</p> -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">משתמשים רשומים</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">מחיקה</th>
              <th class="text-center">עריכה</th>
              <th class="text-center">סוג</th>
              <th class="text-center">סיסמא</th>
              <th class="text-center">אימייל</th>
              <th class="text-center">טלפון</th>
              <th class="text-center">שם משפחה</th>
              <th class="text-center">שם פרטי</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let i of all'>
                <td>
                    <span class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0" (click)="deletD(i.id)">מחיקה</button></span>
                  </td>
                  <td class="pt-3-half">
                <span type="button" class="table-up"><a  class="indigo-text" (click)="updet(i.id)" >עריכה<i class="fas fa-long-arrow-alt-up"
                    aria-hidden="true"></i></a></span>
              <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                    aria-hidden="true"></i></a></span>
               </td>
               <td  class="pt-3-half" contenteditable="true">{{i.roll}}</td>
              <td  class="pt-3-half" contenteditable="true">{{i.password}}</td>
              <td  class="pt-3-half" contenteditable="true">{{i.email}}</td>
              <td  class="pt-3-half" contenteditable="true">{{i.tel}}</td>
              <td  class="pt-3-half" contenteditable="true">{{i.lastName}}</td>
              <td  class="pt-3-half" contenteditable="true">{{i.name}}</td>
              <td class="pt-3-half" contenteditable="true">{{i.id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

  <!-- <tr *ngFor='let i of all'>
      <div>{{i | json}}</div>
  </tr> -->
