<div class="ofhidden imgZoom1">
  <img src="../../../assets/toanim2.jpg" alt="" width="100%"/>
</div>
<!-- <img src="../../../assets/toanim2.jpg" alt="" width="aotu" height="aotu"> -->

<!-- 
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#" [routerLink]="['/App']" routerLinkActive="router-link-active">דף הבית</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#" [routerLink]="['/PiskyDin']" routerLinkActive="router-link-active">מאגר פס"ד<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">

        <a class="navbar-brand" href="#" [routerLink]="['/List']" routerLinkActive="router-link-active">רשימת טוענים רבניים</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#" tabindex="-1" aria-disabled="true" >פורום</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#" tabindex="-1" aria-disabled="true" [routerLink]="['/AddList']" routerLinkActive="router-link-active">כניסת משתמש</a>
      </li>
     
      <li class="nav-item">
        <a class="navbar-brand" href="#" tabindex="-1" aria-disabled="true" [routerLink]="['/odot']" routerLinkActive="router-link-active"> אודות</a>
      </li>


    
    </ul>
 
  </div>
</nav> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> -->