/* .aaaa{
    text-align: right;

} */
.ofhidden {overflow: hidden;}
 
.imgZoom1:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;
}
.aa{
font-size: 80%;
text-align: right;
font-family: Arial;
clear: both;
padding-top: 10px;
}